@font-face {
  font-family: "roboto";
  src: url("/assets/Roboto-Light-webfont.woff");
}

.card {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1.5%;
  flex: gap;
  max-width: 323px;
}
.img-bmark {
  display: flex;
  justify-content: flex-end;
}
.img-btn-bmark {
  background-color: white;
  width: 10%;
  outline: none;
  border: none;
  cursor: pointer;
}
.bookmark-img {
  width: 26px;
}
.img-iro {
  align-self: center;
  width: 100%;
  height: 10%;
}
.container {
  font-family: roboto;
  text-align: left;
}
p{
  width: 281px;
  height: 66px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container_after_text {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.btns-for-atc-msg {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.atc-img {
  width: 50%;
  margin-left: 1%;
  align-self: end;
}
.atc-img-b {
  width: 50%;
}
.img-btn {
  outline: none;
  background-color: white;
  border: none;
  width: 20%;
  cursor: pointer;
}
.img-btn-msg {
  background-color: white;
  width: 20%;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-above-hr {
  background-color: #236fed;
  border-radius: 40% / 100%;
  color: white;
  outline: none;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 4%;
}
.btnl {
  font-family: roboto;
  background-color: white;
  border-radius: 40% / 100%;
  margin-right: 10%;
  margin: 2%;
  outline: none;
  cursor: pointer;

}
.btnr {
  font-family: roboto;
  background-color: #236fed;
  border-radius: 50% / 100%;
  color: white;
  margin: 1%;
  outline: none;
  cursor: pointer;
  border: 0px;
}
